.custom-background-login {
	background-image: url("../imagens/pc.jpg");
	position: relative;
	z-index: 1000;
}

.div-primaria {
	border: 1px solid #d5d5d5;
}

.main-div {
	
}

.centralizar {
	text-align: center;
}

.titulo {
	text-align: center;
	font-family: georgia;
}

h4 {
	font-weight: bold;
	font-size: 36px;
	color: #2e6da4;
	text-shadow: 2px 1px 1px #363636;
}

.entrar {
	padding-top: 20px;
}

.esqueci-senha {
	padding-top: 20px;
}

.esqueci-senha a {
	font-weight: bold;
}

.content-login {
	height: 490px;
	margin-top: 50px;
	background-color: rgb(255, 255, 255, 0.5);
	border-radius: 5px;
	box-shadow: 1px 2px 10px black;
	padding: 10px;
}

.div-usuario {
	padding-top: 7px;
}

.form-control:focus {
	box-shadow: 1px 2px 10px #8d8b8b;
	border-color: black;
}

.label-painel-aparelho, .label-painel-clientes, .label-painel-funcionario, .label-painel-servico, .label-painel-os{
	font-size: medium;
}

.form-control-custom{
	width: 400px !important;
}

.icone-pesquisar {
	width: 0% !important;
	position: relative;
	top: 0px;
	display: table-cell;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icone-salario{
	display: table;
    position: absolute;
    top: 0px;
    height: 34px;
    left: -36px;
}

.div-salario{
	left: 50px;
    position: absolute;
}
/*--------------------------------*/
/*---------------MENU-------------*/
/*--------------------------------*/
.geral-menu {
	position: relative;
	background-color: #c7c9cb;
	width: -webkit-fill-available;
	height: -webkit-fill-available;
}

/* .titulo{
	color: #c7c9cb;
	font-size: 26px;
	font-family: georgia;
	font-weight: bold;
} */
.navbar-header {
	float: left;
	padding: 0px;
	text-align: center;
	width: 100%;
	height: 90px;
	background-color: #004275;
}

.navbar-brand {
	float: none;
	padding: 0px 0px !important;
}

#div-botao-barra-lateral-xs {
	margin-left: -15px;
	margin-top: 0px;
	position: relative;
}

.col-xs1-custom {
	padding-left: 0px;
	padding-right: 0px;
}

.botao-barra-lateral-xs {
	font-size: 25px;
	z-index: auto;
}

.barra-lateral {
	background-color: #2e6da4;
	width: 180px;
	height: -webkit-fill-available;
	border-radius: 0px;
	left: -5px;
	margin-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	overflow: hidden;
	position: relative;
	margin-left: -10px;
	margin-top: 0px;
}

@media ( min-width :768px) {
	.barra-lateral {
		display: block !important;
		height: -webkit-fill-available;
	}
} /* FIM @media */

/* GRAFICO */
.primeirografico{
	display: block !important;
	position: relative;
	width: 700px !important;
	height: 400px !important;
}

.segundografico {
	display: block !important;
	position: relative;
	width: 700px !important;
	height: 400px !important;
}
/* FIM GRAFICO */
.dropdown-menu {
	border-radius: 0px !important;
}

.dropdown-menu-custom {
	position: relative;
	background-color: #2e6da4 !important;
	border-color: #2e6da4 !important;
	padding: 2px 2px 2px 2px !important;
	/*  margin-left: 10px !important; */
	border: none !important;
	top: 87% !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	width: 100%;
}

.btn-primary {
	border-color: #2e6da4 !important;
}

.btn-primary-custom {
	margin-left: -1px;
	background-color: #96989a;
	border-color: #96989a;
}

.btn-group .btn+.btn {
	margin-left: -1px !important;
}

.btn-group-vertical>.btn {
	width: 180px !important;
}

.btn-group-custom {
	margin-top: 4px;
	margin-bottom: 10px;
	display: inline-block !important;
	width: 180px;
}

.div-botao-relatorio, .div-botao-ordem-servico {
	
}

.ol, .ul {
	margin-top: -7px;
}

.btn-group-vertical>button {
	width: 179px;
	margin-bottom: 7px;
	border-radius: 3px !important;
}

.btn-group-vertical>button: focus {
	outline: 0 !important;
}

.group-menu>.btn:first-child:not (:last-child ):not (.dropdown-toggle ){
	border-radius: 2px;
}

/* .btn-default:hover {
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
    color: #fff;
} */
@media ( max-width :768px) {
	.geral-menu {
		width: 100% !important;
		height: -webkit-fill-available;
	}
	.barra-lateral {
		display: block;
	}
	.div-botao-ordem-servico {
		left: 15px;
	}
	.div-botao-relatorio {
		left: 8px;
	}
}

.group-menu {
	margin-bottom: 10px;
}

.div-botao-sair {
	position: relative;
	display: inline-block;
}

.botao-sair {
	width: 100px;
}

.icone-sair {
	margin-left: 5px;
}

/* DASHBOARD */
.dashboard-custom {
	margin-top: 30px;
	margin-bottom: -30px;
	/* width: 400px;
    heigth: 400px; */
}

/*-------------------------------*/
/*---- PAINEIS DE CADASTRADOS ---*/
/*-------------------------------*/
.div-barra-pesquisa {
	margin-top: 30px;
	margin-left: 150px;
	position: relative;
	width: 650px;
}

.input-group-custom {
	position: relative;
	display: table;
	border-collapse: separate;
	margin-left: -150px !important;
	margin-right: -8px !important;
	/* width: 1130px !important; */
}

.icone-adicionar-funcionario, .icone-adicionar-cliente, .icone-adicionar-servico, .icone-adicionar-itens-servico, 
.icone-adicionar-aparelho, .icone-adicionar-os {
    display: inline-block;
    left: 30px;
    top: 40px;
    position: absolute !important;
    font-size: 17px;
}

.input-group .form-control:first-child, .input-group-addon:first-child,
	.input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn,
	.input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not
	(:last-child )>.btn, .input-group-btn:last-child>.btn:not (:last-child
	):not (.dropdown-toggle ){
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.input-group-barra-pesquisa{
	position: absolute;
    display: table;
    border-collapse: separate;
    top: 7px;
    left: 59%;
}

.div-painel-clientes, .div-painel-funcionarios, .div-painel-aparelhos,
.div-painel-servicos, .div-painel-itemservicos,	.div-painel-ordemservicos {
	margin-top: 10px;
	font-weight: bold;
	width: 87%;
}

.icone-adicionar:hover {
	background-color: #2e6da4 !important;
	border-color: #2e6da4 !important;
	color: #fff !important;
}

/*-------------------------------*/
/*------------ MODAL ------------*/
/*-------------------------------*/
.modal-title {
	font-weight: bold;
}

.titulotipo {
	font-weight: bold;
	font-size: 18px;
}

.espacotipos {
	margin-left: 10px;
}

.tipo1, .tipo2 {
	margin-left: 3px;
	font-size: 14px;
}

.modal-custom-login {
	top: 90px;
}

@media ( min-width : 992px) .modal-lg {
	width:900px;
}

.ModalPainelUsuario{

}

/*-------------------------------*/
/*----- CADASTRO DE CLIENTE -----*/
/*-------------------------------*/
.formulario {
	position: relative;
}

.panel-title-custom {
	font-weight: bold;
}

.panel-custom {
	left: 100px;
	margin-top: 60px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.botoes {
	margin-top: 12px;
	margin-left: 717px;
}

.botao-cancelar {
	background-color: #96989a !important;
	border-color: #96989a !important;
	color: #fff;
}

.botao-cancelar:hover {
	background-color: #686a6c !important;
	border-color: #686a6c !important;
	color: #fff;
}

.icone-cancelar, .icone-salvar {
	margin-left: 5px;
}

/* TELA DE APARELHOS */
/* .icone-adicionar-aparelho {
	display: inline-block;
    left: 2%;
    position: absolute !important;
    top: 36px;
    font-size: 16px;
} */

.resultadoAparelhos{
	left: 15px;
}

.table th, td{
	text-align: center;
}

#msgEditAparelho{
	z-index: 5000;
}

.filtroAtivo{
	left: 85px;
    top: 3px;
}

.labelFiltro{
	left: 30px;
}

.botaoFiltro{
    display: table;
    top: -1px;
    left: 152px;
    position: absolute;
}

.panel-primary>.panel-heading {
    height: 80px !important;