<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>DigitalOS</display-name>
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>br.com.digitalOS.rest</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServletConsultaLogin</servlet-name>
		<servlet-class>br.com.digitalOS.servlets.ServletConsultaLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletConsultaLogin</servlet-name>
		<url-pattern>/ServletConsultaLogin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServletCadastroAparelho</servlet-name>
		<servlet-class>br.com.digitalOS.servlets.ServletCadastroAparelho</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletCadastroAparelho</servlet-name>
		<url-pattern>/ServletCadastroAparelho</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServletBuscarAparelho</servlet-name>
		<servlet-class>br.com.digitalOS.servlets.ServletBuscarAparelho</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletBuscarAparelho</servlet-name>
		<url-pattern>/ServletBuscarAparelho</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServletBuscarPorId</servlet-name>
		<servlet-class>br.com.digitalOS.servlets.ServletBuscarPorId</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletBuscarPorId</servlet-name>
		<url-pattern>/ServletBuscarPorId</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServletEditarAparelho</servlet-name>
		<servlet-class>br.com.digitalOS.servlets.ServletEditarAparelho</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletEditarAparelho</servlet-name>
		<url-pattern>/ServletEditarAparelho</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServletFiltroAtivos</servlet-name>
		<servlet-class>br.com.digitalOS.servlets.ServletFiltroAtivos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletFiltroAtivos</servlet-name>
		<url-pattern>/ServletFiltroAtivos</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>Filtro</filter-name>
		<filter-class>br.com.digitalOS.filtro.Filtro</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Filtro</filter-name>
		<url-pattern>/mylib/paginas/*</url-pattern>
	</filter-mapping>
</web-app>